# Tipe Data List

Tipe data list adalah tipe data yang berbentuk daftar yang dipisahkan dengan koma. Contoh [1, 2]

## String dalam list

In [2]:
data = ["Python", "Javascript", "Java", "Kotlin"]

print(data)
print(type(data))

['Python', 'Javascript', 'Java', 'Kotlin']
<class 'list'>

## Integer dan Float dalam List

In [4]:
data = [22, 33, 12, 24, 34, 44.5, 10.2, 22.22]

print(data)
print(type(data))

[22, 33, 12, 24, 34, 44.5, 10.2, 22.22]
<class 'list'>

## Tuple dalam List

In [5]:
data = [(1, 2, 3), (3, 4, 5), (6, 7, 8)]

print(data)
print(type(data))

[(1, 2, 3), (3, 4, 5), (6, 7, 8)]
<class 'list'>

## Boolean dalam List

In [1]:
data = [True, False, False, True]

print(data)
print(type(data))

[True, False, False, True]
<class 'list'>

## Multiple data type List

In [2]:
ganda = [True, '2', 3.0, 4]

print(ganda)
print(type(ganda))

[True, '2', 3.0, 4]
<class 'list'>

# Mengurutkan data dalam List

In [8]:
nilai = [2, 1, 3, 4, 0]

print(nilai)

# Gunakan method sort()

nilai.sort()

print(nilai)

[2, 1, 3, 4, 0]
[0, 1, 2, 3, 4]

In [10]:
test = [1, 2, True, "nama", (2, 3, 2)]

print(test)

test.sort()

print(test)
# Akan menghasilkan error, jadi untuk mengurutkan data dalam tipe data list,
# datanya harus bertipe data integer atau float

[1, 2, True, 'nama', (2, 3, 2)]

TypeError: '<' not supported between instances of 'str' and 'bool'

## Menambahkan data kedalam list

Untuk menambahkan data dalam list kita menggunakan method append()

In [5]:
nama = ['Randang', 'Kalio', 'Gulai']

print(nama)

nama.append('Touco') # Tambahkan nilai

print(nama)

['Randang', 'Kalio', 'Gulai']
['Randang', 'Kalio', 'Gulai', 'Touco']

In [15]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [16]:
umur = [16, 18, 20, 16, 21, 21]

print(umur)

umur.append(18)
print(umur)

[16, 18, 20, 16, 21, 21]
[16, 18, 20, 16, 21, 21, 18]

## Mengakses data

In [12]:
data = [1, 2, 3, 4]

print(len(data)) # Mengecek berapa banyak data di list

print(data)

4
[1, 2, 3, 4]

In [25]:
nama = ["ayu", "bayu", "cinta", "dinda"]

print(nama[2])
print(nama[3])

cinta
dinda

In [24]:
nama = ["ayu", "bayu", "cinta"]

print(nama[3])

IndexError: list index out of range

In [13]:
data = [1, 2, 3, 4]
print(data[0])
print(data[1])
print(data[2])
print(data[3])

1
2
3
4

In [16]:
nama = ['Python', 'C++', 'PHP']

print(nama[0])
print(type(nama))
print(type(nama[0]))

Python
<class 'list'>
<class 'str'>

## Reverse List

Reverse adalah membalikan data list

In [11]:
buah = ["anggur", "durian", "jambu"]
print(buah)

buah.reverse()
print(buah)

['anggur', 'durian', 'jambu']
['jambu', 'durian', 'anggur']

## Extend List
Menggabungkan dua buah list

In [29]:
data1 = [0, 1, 2, 3]
data2 = [4, 5, 6, 7]

print(data1)
print(data2)
print()

data2.extend(data1)
print(data2)

[0, 1, 2, 3]
[4, 5, 6, 7]

[4, 5, 6, 7, 0, 1, 2, 3]

## LATIHAN
1. buatlah type data list dengan valuenya
    nama-nama teman tercinta anda
2. tambahankan data baru didalam list
    tersebut dengan orang yang duduk disamping anda
3. buatlah type data list dengan value masing-masing
    umur dari teman-teman anda
4. urutkan data list tersebut
5. tentukan list index dari data tersebut
6. gabungkan kedua data tersebut

In [38]:
teman = ["ayu", "bayu", "cinta", "dinda"]
print(teman)
teman.append("elmi")
print(teman)
print()

umur = [19, 18, 16, 20, 22]
print(umur)
umur.sort()
print(umur)
print(umur[3])
print()

teman.extend(umur)
print(teman)

['ayu', 'bayu', 'cinta', 'dinda']
['ayu', 'bayu', 'cinta', 'dinda', 'elmi']

[19, 18, 16, 20, 22]
[16, 18, 19, 20, 22]
20

['ayu', 'bayu', 'cinta', 'dinda', 'elmi', 16, 18, 19, 20, 22]